* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}


body {
margin: 0;
text-align: center;
color: rgb(175, 233, 233);
}

.box {
   border: 6px solid whitesmoke;
   transition: 0.25s ease;
   background: rgb(0, 0, 0);
   padding: 10px;
}

p {
    visibility: hidden;
    width: 240px;
    margin: 10px auto 0;
}